<div class="wrapper">
 <div class="container">
	<div class="container_logo">
		  <svg-icon
			src="../../../assets/icons/icons_game-controller.svg"
			[svgStyle]="{
			  width: '48px',
			  height: '48px'
			}"
		  ></svg-icon>
		  <div class="container_logo-title">eSTRIX Game Store</div>
	  </div>
    <nav>
		<ul>
			<li>PC</li>
			<li class="active">PS4</li>
			<li>PS5</li>
			<li>Xbox One</li>
			<li>Nintendo Switch</li>
			<li>Video Game Merchandise</li>
		</ul>
	</nav>
	<div class="container_nav">
		<svg-icon
		  src="../../../assets/icons/menu-left.svg"
		  [svgStyle]="{
			width: '48px',
			height: '48px'
		  }"
		></svg-icon>
	  </div>
</div>
</div>